

.gwt-TabBar {
    background: lightgray;
    padding-top: 6px;
}
.gwt-TabBar .gwt-TabBarFirst {
    width: 5px;  }
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
    margin-left: 4px;
    padding: 4px 8px 4px 8px;
    cursor: pointer;
    cursor: hand;
    color: white;
    font-weight: normal;
    text-align: center;
    background: lightgray;
    -moz-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px;
}
.gwt-TabBar .gwt-TabBarItem-selected {
    cursor: default;
    background: white;
    color: #333;
    font-weight: bold;
}
.gwt-TabBar .gwt-TabBarItem-disabled {
    cursor: default;
    color: #999999;
}

.gwt-TabPanelBottom {
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
    overflow: hidden;
    padding: 6px;
}

.flextable {
    height: 150px;
}

table.flextable td:nth-child(1){
    width: 100px;
}

table.flextable td:nth-child(2) {
    width: 200px;
}


/* mark error in inputfield */

.textBox-invalidEntry {
    font-size: 18px;
    height: 32px;
    border-radius: 2px;
    width: 100%;
    color: red;
    border: none;
}

.textInputStd {
    font-size: 18px;
    height: 32px;
    border-radius: 2px;
    width: 100%;
    color: #333;
    border: none;
}


